body{
	background-color: #000;
}



.main {
  background-color:white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu{
	width: 659px;
    height: 494px;
    float: left;
}

#logo{
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 600px;
	height: 315px;
    position: absolute;
    left:600px;
    padding:40px 60px;
    display: none;
}

.ryu-instructuion{
	width: 600px;
    color: #000;
    position: absolute;
    left:600px;
    padding:40px 60px;
   
}
.how_to_first, .how_to_second{
	font-size: 26px;
	font-weight: bold;
	font-family: monospace;
	width: 350px;
	margin: 40px;
	display: none;
}


.mini_logo{
	text-align: center;
	display: none;
}
.ryu-still, .ryu-ready,.ryu-throwing,.ryu-cool {
	width: 659px;
    height: 494px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing,#logo {
  background-repeat: no-repeat;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}


.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display:none;
  float: left;
  position: absolute;
  top:160px;
  left:650px;
  z-index: 10;
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}